.App {
  text-align: center;
}

.App.Wood {
  background-image: url(./wood.jpg);
}

.App-header {
  font-family: 'Gochi Hand';
  background-color: #222;
  color: white;
  font-size: 5rem;
}

.App-header h2 {
  margin: 0;
}
