.App {
  text-align: center;
}

.App.Wood {
  background-image: url(./wood.jpg);
}

.App-header {
  font-family: 'Gochi Hand';
  color: white;
  font-size: 5rem;
}

@media (max-width: 37.5em) {
  .App-header {
    font-size: 2rem;
  }
}

.App-header h2 {
  margin: 2rem 0 0 0;
  background-color: #222;
  padding: 0 3rem;
  display: inline-block;
  transform: rotate(2deg);
}

.LoadMore {
  height: 50px;
}
