.Gallery {
  margin: 2rem;
}

.PolaroidWrapper {
  width: 24%;
  margin: .5rem;
}

.Polaroid {
  margin-bottom: 15px;
  background: #e4e5df;
  border: 1px solid rgba(0, 0, 0, .15);
}

.Polaroid:hover {
  border: 1px solid rgba(77, 77, 77, .55);
}

.Polaroid .ImageWrapper {
    /* background: url(../css/images/spinner.gif) center 30px no-repeat; */
    min-height: 60px;
    margin: .75rem .75rem 0rem;
}

.Polaroid .ImageWrapper img {
    width: 100%;
}

.Polaroid .Text {
  font-family: 'Permanent Marker';
  font-size: 5vh;
  color: #444;
}

.Polaroid:hover .Text {
  color: #333;
}

.PolaroidWrapper { transform: rotate(2.75deg); }
.PolaroidWrapper:nth-child(2n) { transform: none; }
.PolaroidWrapper:nth-child(3n) { transform: rotate(-2.5deg); }
.PolaroidWrapper:nth-child(5n) { transform: scale(1.1); }
